@import "tailwindcss";

:root {
  --background: #13111C;
  /* Softer Dark Purple-Grey */
  --foreground: #F3F4F6;
  /* Soft White */
  --gummy-red: #F472B6;
  /* Soft Pink */
  --gummy-blue: #A78BFA;
  /* Soft Purple */
  --gummy-yellow: #FEF08A;
  /* Soft Yellow */
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gummy-red: var(--gummy-red);
  --color-gummy-blue: var(--gummy-blue);
  --color-gummy-yellow: var(--gummy-yellow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-bounce-slow: bounce 3s infinite;
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {

    0%,
    100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}